@media (max-width: 80rem) {
    html{
        font-size: 70%;
    }
    
    .grid-2-cols{
        grid-template-columns: 1fr;
    }
    .img-div{
      margin: 0 auto;
      margin-bottom: 4rem;
    }
    
    .social-links{
        position: relative;
        justify-content: center;
    }

    .tab-content{
        padding: 2rem;
    }

}


@media (max-width: 60rem) {
    html{
        font-size: 65%;
    }
    
    
}
@media (max-width: 50rem) {
    html{
        font-size: 60%;
    }
    
    .social-links{
        padding-right: 0;
    }

    .experiencediv{
    width: 100%;
    }

    .menu-menu{
        display: block;
    }

    .fa-x{
        display: inline-block;
    }
    

    .tabs{
        display: block;
        position: absolute;
        background: var(--darks);
        max-width: 20rem;
        transform: translateX(-200%);
    }

    .tabs.active{
        transform: translateX(0);
    }



}