:root {
    --main-color: rgb(109, 69, 52);
    --secondary-color: rgb(65, 48, 40);
    --darks: #100f15;
    --darks2: #424246;
    --transdark:rgba(16, 15, 21, 0.511);
  }

*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 80%;
}



body{
    background: var(--darks2);
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: relative; */
    padding: 1rem;
}

.main-container{
    max-width: 80rem;
    background: var(--darks);
    /* display: flex; */
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 5rem;
    border-bottom: var(--main-color) 5px solid;
    border-right: var(--main-color) 5px solid;
    filter: drop-shadow(0 5px 5px #000000a2);
    margin: 7rem auto;
}

p {
    margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.grid{
    display: grid;
}

.grid-2-cols{
    grid-template-columns: 1fr 1fr;
}


/**************
HEADER
*************/

.header{
    position: relative;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
}

.img-div{
    width: 25rem;
    filter: drop-shadow(0 10px 5px #000000a2);
    /* position: absolute; */
    transform: scale(1.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img{
    width: 100%;
    
}

.name-text-div{
    bottom: 4rem;
    text-align: center;
    background: var(--transdark);
    padding-top: 3rem;
    border-bottom: var(--main-color) 2px solid;
}


.name-text{
    font-size: 5rem;
    font-weight: 700;
}

.name-text, .position-text{
    color: white;
    text-transform: uppercase;
}

.position-text{
    letter-spacing: 5px;
    color: var(--main-color);
    font-size: 1.4rem;
}

.main-about{
    text-align: center;
    padding-bottom: 4rem;
}

.hero-btn{
    background: none;
    color: white;
    border: solid 3px white;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    margin-top: 3rem;
    border-bottom: solid 3px var(--main-color);
    position: relative;
}



.hero-btn::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--main-color);
    height: 100%;
    width: 0;
    transition: all ease 0.5s;
}

.hero-btn:hover.hero-btn::after{
    width: 100%;
}


/*************
SECTION BODY
****************/

.social-links{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--main-color);
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    padding-right: 11rem;
    align-items: center;
}
/* 
.email{
    
    writing-mode: vertical-rl;

} */


.social-links .fa-brands{
    
    font-size: 2rem;
}

.email{
    color: white;
}


.section-body{
    /* margin-left: 26rem; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tech-icons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    margin-top: 4rem;
}

.text-tech-skillls{
    color: white;
}

.fa-brands {
    color: white;
    font-size: 3rem;
}

.header-sec{
    padding-top: 1rem;
    color: var(--darks2);
    font-weight: 300;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}

.workname{
    color: white;
    font-weight: 300;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.details{
    color: gray;
    line-height: 1.5;
}


/*************
TABS
**************/

.experiencediv{
    margin-top: 9rem;
    padding: 3rem;
    max-width: 60rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.menu-menu{
    background: var(--main-color);
    color: white;
    width: 10rem;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    display: none;
}



.tabs{
    display: flex;
    gap: 2rem;
    padding-bottom: 2.3rem;
    width: 100%;
    justify-content: center;
    transition: all ease 0.5s;
}

.header-sec{
    border-bottom: white solid 1px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.active-tab{
    background: var(--main-color);
    color: white;
}

.tab-content{
    display: none;
    transition: all eae 0.4s;
}

.tab-content-active{
    display: block;
    animation: popAnimation 1s ease;
}

@keyframes popAnimation{
    0%{
        opacity: 0;
        transform: translateY(5rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.details{
    color: #424246;
    font-size: 1.8rem;
}

.carousel-bootstrap-section{
    position: relative;
    max-width: 60rem;
    display: flex;
    margin: 0 auto;
    padding: 5rem 0;
}

.refs{
    padding: 1rem;
}

.refname{
    color: var(--main-color);
}

.fa-x{
    background: white;
    padding: 1rem;
    border-radius: 4rem;
}

.fa-x{
    display: none;
}


.form-sec{
    max-width: 50rem;
}

/******BOOTSTRAP MODAL********/

.modal-c{
    padding: 3rem;
    background: var(--darks);
    color: white;
}

